body {
    background: linear-gradient(0.25turn, #c8f7c2, #ebf8e1, #ffc88d);
}
#header {
    background-color: rgb(104, 81, 81);
    height: 70px;
    margin: 0 auto;
    padding: 20px;
}

.head {
    display: inline;
}
nav {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: auto;
}

li {
    display: inline;
    margin-right: 70px;  
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    margin-top: 40px;
    font-style: oblique;
    color: white;
    border: 3px solid;
    padding: 5px;
    box-shadow: 4px 4px #fbff00, 8px 8px #ff6565, 12px 12px #02dceb;
}
a {
    text-decoration: none; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(238, 117, 5);
}

a:hover {
    color:#02dceb;
}

#content {
    margin-top: 5px;
    height: 500px;
    text-align: center;
    background-image: url('luca.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    font-family: Calibri;
    font-weight: bold;
}
#words {
    margin-top: 90px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
h2 {
    font-size: 300%;
    line-height: 1.4em;
    letter-spacing: 0.1em;
}
#boxes {
    width: 1200px;
    height: 300px;
    margin: 30px auto;
    margin-left: 30px;
}
#box1, #box2, #box3 {
    width: 300px;
    margin-top: 30px;
    margin-bottom: center;
    padding: 20px;
    margin-right: 20px;
    height: 200px;;
    border: 1px solid #000000;
    text-align: center;
    float: right;
}

.box {
    text-align: center;
    width: 50px;
    margin: auto;
    margin-top: 70px;
    background-color: #ffffff;
    padding: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
}

.box:hover {
    background-color: rgb(218, 196, 214);
}
#box2 {
    background-image: url('eat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#box1 {
    background-image: url('travelbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#box3 {
    background-image: url('relax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#feedback {
    height: 50px;
    padding: 15px;
}

#box1:hover, #box2:hover, #box3:hover {
    margin-top: -0.01px;
}

#feedback {
    text-align: center;
    margin: auto;
    color:rgb(71, 71, 71);
    font-style: italic;
    line-height: 0.4em;
    font-weight: bolder;
    margin-top: 10px;
    padding: 15px;
    font-size: 120%;
}
#wrapper {
    text-align: justify;
    width: 1200px;
    padding: 30px;
    margin: auto;
    line-height: 1.4em;
    font-size: 120%;
    font-family: Arial;
}
h3 {
    font-weight: bold;
    font-family: Calibri;
    font-size: 130%;
}
small {
    word-spacing: 0.3em;
    padding: 3px;
    margin-left: 30px;
}

#search {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}
label {
    color: #eb4a4a;
    font-size: 340%;
    font-family: Verdana;
    line-height: 1.3em;
}
input {
    clear: right;
    width: 600px;
    height: 50px;
    font-size: 130%;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.02em;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
}
input:active , input:focus{
    border:3px solid #e68302;
}
button {
    height: 50px;
    width: 70px;
    background-color: #e68302;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 110%;   
}
button:hover {
    cursor: pointer;
}
button:active {
    width: 65px;
    height: 45px;
}
#searchFeedBack {
    color: black;
    padding: 3px;
}


